
/*-------------------- 배송자등록 (delivery_write.php) --------------------*/
.f_profile {padding:10px 0 25px; text-align:center;}
.f_profile .f_pic {position:relative; margin:0 auto; width:75px; height:75px; border:1px solid #d6d6d6;border-radius:75px;}
.f_profile .f_pic img {width:100%;}
.f_profile .f_pic a.f_pic_butt {
	position:absolute; bottom:-2px; right:-10px; padding:5px 6px; background:#ff743b; text-align:center; border-radius:40px;}
.f_profile .f_pic a.f_pic_butt img {width:16px; margin-bottom:-2px;}

.f_form {background:white; border:1px solid #e0e0e0; border-radius:6px; margin:0px auto 7px; overflow:hidden;}
.f_form .f_form_d {position:relative; border-bottom:1px solid #e0e0e0;}
.f_form .f_form_d:last-child {border-bottom:0px;}
.f_form .f_form_d input, .f_form .f_form_d select, .f_form .f_form_d textarea {
		border:0; border-left:3px solid #fff;}
.f_form .f_form_d input {width:80%; padding:10px 0px 10px 85px; }
.f_form .f_form_d input:focus {outline: none; border-left:3px solid #ff743b;}
.f_form .f_form_d select {width:99%; padding:10px 0px 10px 85px;}
.f_form .f_form_d select:focus {outline: none;border-left:3px solid #ff743b;}
.f_form .f_form_d input.bg_name {background:url(../images/icon_user_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_name {background:url(../images/icon_user_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_mobile {background:url(../images/icon_phone_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_mobile {background:url(../images/icon_phone_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_map {background:url(../images/icon_map_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_map {background:url(../images/icon_map_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_pay {background:url(../images/icon_card_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_pay {background:url(../images/icon_card_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d textarea.bg_memo {background:url(../images/icon_pencil_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d textarea:focus.bg_memo {background:url(../images/icon_pencil_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d select.bg_car {background:url(../images/icon_car_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d select:focus.bg_car {background:url(../images/icon_car_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d textarea {width:90%; height:50px; padding:10px 0px 10px 30px; margin-bottom:-4px;}
.f_form .f_form_d textarea:focus {outline: none; border-left:3px solid #ff743b;}
.f_form .f_form_d label {position:absolute; top:10px; left:32px;}
.f_form .f_form_d .right_text {position:absolute; top:10px; right:20px}


/*-------------------- 화물등록 (stuff_write.php) --------------------*/

.f_stuff {width:100%; height:130px; overflow:hidden; background:#bababa; text-align:center;}
.f_stuff a.stuff_x img {width:65px; margin-top:30px; margin-bottom:2px;}
.f_stuff a.stuff_x span {color:#fff;}
.f_stuff a.stuff_o {display:block; height:130px;}
.f_form .f_form_d input.bg_tag {background:url(../images/icon_tag_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_tag {background:url(../images/icon_tag_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_size {background:url(../images/icon_width_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_size {background:url(../images/icon_width_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_weight {background:url(../images/icon_weight_off.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input:focus.bg_weight {background:url(../images/icon_weight_on.png) no-repeat; background-size:21px; background-position:5px 8px;}


/*-------------------- 배송자상세 (delivery_detail.php) --------------------*/

.f_profile_d {position:relative; background:#f9f9fb; border-bottom:1px solid #e0e0e0; padding:20px 18px;}
.f_profile_d .profile_img {width:75px; height:75px; border:1px solid #e0e0e0; border-radius:75px; overflow:hidden;}
.f_profile_d .profile_info {position:absolute; top:28px; left:110px; display:inline-block; font-size:10pt; line-height:130%;}
.f_profile_d .profile_info h2 {font-size:13pt; margin-bottom:8px;}
.f_profile_d .profile_info a.profile_call { line-height:150%; color:#555;}
.f_profile_d .profile_info a.profile_call img {width:7px; margin-bottom:-1px; margin-right:4px;}
.f_profile_d .profile_info .star img {width:12px;}
.f_profile_d .profile_info .star span {color:#ff743b; font-size:8.5pt; margin-left:4px; margin-bottom:2px;}
.f_profile_d span.date {position:absolute; top:28px; right:15px; letter-spacing:-0.5px; color:#888; font-size:9pt;}

.f_form .f_form_d input.bg_car_d {background:url(../images/icon_car_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_map_d {background:url(../images/icon_map_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_pay_d {background:url(../images/icon_card_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d textarea.bg_memo_d {background:url(../images/icon_pencil_on.png) no-repeat; background-size:21px; background-position:5px 8px;}

.f_reply {background:#fff; }
.f_reply .f_reply_tit {font-weight:600; border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;padding:8px 15px;}
.f_reply .f_reply_tit span {color:#ff743b; font-weight:500; font-size:9pt; padding-left:3px;}
.f_reply .f_reply_con {position:relative; overflow:auto; background:#fcfcfc; border-bottom:1px solid #e0e0e0; padding:15px; color:#555;}
.f_reply .f_reply_con .pic {width:28px; height:28px; float:left; margin-right:10px; border:1px solid #bcbcbc; border-radius:75px; overflow:hidden;}
.f_reply .f_reply_con .info {letter-spacing:-0.5px; margin-left:40px; margin-top:1px;}
.f_reply .f_reply_con .info p img {width:12px; margin-bottom:1px;}
.f_reply .f_reply_con .date {position:absolute; top:14px; right:15px; font-size:8.5pt; letter-spacing:-0.5px; color:#888;}


/*-------------------- 화물상세 (stuff_detail.php) --------------------*/

.care {background:#fdd3c5; border:1px solid #fcbba9; border-radius:4px; padding:5px 0px; text-align:center; 
	color:#d81803; font-size:8.5pt; font-weight:600; margin-bottom:10px;}
.care img {width:12px; margin-bottom:-2px; margin-right:4px;}

.f_form .f_form_d input.bg_tag_d {background:url(../images/icon_tag_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_size_d {background:url(../images/icon_width_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_weight_d {background:url(../images/icon_weight_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
.f_form .f_form_d input.bg_name_d {background:url(../images/icon_user_on.png) no-repeat; background-size:21px; background-position:5px 8px;}
