
/*-------------------- 홈화면 (home.php)--------------------*/

.h_list_box {background:white; border:1px solid #e7e9e9; border-top:4px solid #0597d8; border-radius:6px; padding:15px; margin:0px auto 8px;
	position:relative;}
.orange {border-top:4px solid #ff6626;/*오렌지색라인*/}
.h_list_box .img {display:inline-block; width:73px; height:73px; margin-right:15px; overflow:hidden; border:1px solid #e7e7e7; border-radius:6px;}
.h_list_box .img img {width:73px; height:73px;}
.h_list_box .info {display:inline-block; position:absolute; width:60%; top:20px;}
.h_list_box .info h2 {color:#303030; font-weight:600; padding-bottom:9px; font-size:13pt;}
.h_list_box .info h2 img {width:14px; margin-bottom:-1px; }
.h_list_box .info p {color:#696969; line-height:165%; }
.h_list_box .info p span {color:#a3a3a3; font-size:8pt; margin-right:5px;}
.h_list_box .info .place {color:#0076ce; font-size:10.2pt; letter-spacing:-0.2px; font-weight:500;}
.h_list_box .info .font_orange {color:#fe3800;}
.h_list_box .info .place img {width:7.5px; margin-right:3px; margin-bottom:-1px;}
.h_list_box .date {position:absolute; top:20px; right:50px; font-size:8.8pt; color:#a3a3a3; letter-spacing:-0.5px;}
.h_list_box .tag {position:absolute; top:-4px; right:-1px;}
.h_list_box .tag img {width:70px;}



/*--------------- 내가등록한화물(mystuff.php) --------------*/

.h_list_box .tag_b {position:absolute; bottom:-6px; right:-1px;}
.h_list_box .tag_b img {width:70px;}
.h_list_box .date_m {position:absolute; top:19px; right:33px; font-size:8.8pt; color:#a3a3a3; letter-spacing:-0.5px;}
.h_list_box .more_m {position:absolute; top:21px; right:15px; width:15px; text-align:right;}
.h_list_box .more_m img {width:2px; height:12px;}



/*----------------- 배송희망자(wisher.php) -----------------*/

.h_list_box .tag_l {position:absolute; top:-4px; left:-1px;}
.h_list_box .tag_l img {width:70px;}
.h_list_box .info .text_w {color:#424242; font-size:10.2pt; letter-spacing:-0.5px; font-weight:500;}
.h_list_box .info .text_w img {margin-right:4px;}
.orange .info h2 span {color:#ff6626; font-size:10.5px; font-weight:400;}
.orange .info h2 span img {width:12px;}